<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("../partials/head"); %>
  <body>
    <%- include("../partials/menu") %>

    <!-- <div class="container_rain">
      <span class="cloud"></span>
      <span class="cloud"></span>
      <span class="cloud"></span>
    </div> -->

    <section class="container_home">
      <div class="image_container_home">
        <h1>Welcome to our website</h1>
        <p>
          The Best website for<br />
          Luxury Car Lovers!
        </p>
      </div>
      <div class="video">
        <video autoplay muted loop playsinline id="background-video">
          <source
            src="/static/video/WallpaperAnimation02.mp4"
            type="video/mp4"
          />
          Seu navegador não suporta vídeos HTML5.
        </video>
      </div>
    </section>
    <%- include("../partials/footer") %>
  </body>
</html>
