<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body class="container">
    <%- include("../partials/menu") %>

    <main>
      <div class="container5">
        <h1 class="Cadastro Inválido"></h1>
        <p class="p">
          <a href="/cadastro">Tentar novamente</a>
          <a href="/login">LOGIN</a>
        </p>
      </div>
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
