<!DOCTYPE html>
<html lang="pt-BR">
  <%- include("../partials/head"); %>
  <body>
    <%- include("../partials/menu") %>

    <!-- <div class="container_rain">
      <span class="cloud"></span>
      <span class="cloud"></span>
      <span class="cloud"></span>
    </div> -->

    <section class="container">
      <div class="image_container">
        <h1>The Best Website for Luxury Car Lovers is Here!</h1>

        <p>
          Our website was made for lovers of Luxury Cars: <br />
          Lamborghini, Supra, Porsche, Mazda and others.
        </p>
      </div>
    </section>
    <%- include("../partials/footer") %>
  </body>
</html>
