<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head") %>

  <body class="container">
    <%- include("../partials/menu") %>
    <main>
      <div class="container">
        <h1 class="h1">Cadastro Efetuado com Sucesso!</h1>
        <p class="p">Acesse seu Dashboard aqui</p>
      </div>
      div
    </main>
    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
